@{




}


<h1>Add Cheese </h1>

<form method="post">
    <input class="formInput" name="name" type="text"/>  
    <textarea name ="description" type ="text" placeholder="write description"></textarea>
    <input class=" submitBTN" type="submit" value="Add cheese"/>
</form>