@{

}
<p> <a asp-controller="Cheese" asp-action="RemoveCheese"> Remove Cheese</a></p>

<h1> Remove Cheese</h1>

 @if (ViewBag.cheeses.Count == 0)
{

    <p> No Cheese to remove</p>
}



<form method="post">

    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
    {
       
        <input type="checkbox" name="name" />@cheese.Key
    }


</form>